
/* Theme Switch colors */
[data-theme="sand"] {
  --bs-body-bg: #fce8c3;
  --bs-body-color: #5e4635;
  --bs-primary: #d97706;
  --bs-primary-hover: #b45309;
  --bs-border-color: #e2c799;
}

[data-theme="zelda"] {
  --bs-body-bg: #f4f1e1;          
  --bs-body-color: #1b3a1b;        
  --bs-primary: #3f8c3f;         
  --bs-primary-hover: #2e6e2e;     
  --bs-border-color: #dcd6c1;      
  --bs-accent-gold: #d4af37;       
}

[data-theme="onepiece"] {
  --bs-body-bg: #fff4e6;
  --bs-body-color: #0f172a;
  --bs-primary: #ff3c00;
  --bs-primary-hover: #c22e00;
  --bs-border-color: #facc15;
  --bs-accent-gold: #fcd34d;
}
/* Theme Switch colors */


/* Foto hover */
.hover-switch {
  position: relative;
  overflow: hidden;
}

.hover-switch img {
  display: block;
  width: 100%;
  transition: opacity 0.4s ease-in-out;
}

.hover-switch .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
}

.hover-switch:hover .main-img {
  opacity: 0;
}

.hover-switch:hover .hover-img {
  opacity: 1;
}
/* Foto hover */


/* Loading Screen */
body {
  margin: 0;
  background-color: black;
  color: white;
}

#loader-screen {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader-logo {
  font-size: 6rem;
  font-weight: 900;
  color: #3b82f6;
  cursor: pointer;
  user-select: none;
}

#main-content {
  display: none;
}

/* Loading Screen */

Social sidebar styles
.social-sidebar {
  z-index: 999;
}

.social-sidebar a {
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-sidebar a:hover {
  transform: scale(1.2);
}

/* Scrollbar verbergen */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE en Edge */
  scrollbar-width: none;     /* Firefox */
}